<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>Janus - Sign In</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    
    <!-- Branding Meta Tags -->
    <meta name="application-name" content="Janus">
    <meta name="apple-mobile-web-app-title" content="Janus">
    <meta name="msapplication-TileColor" content="#4f46e5">
    <meta name="theme-color" content="#4f46e5">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full bg-gray-50">
    <%= yield %>
  </body>
</html>
